<!-- <h1>Upload file</h1>
<form [formGroup] = "formGroup" (ngSubmit)="onSubmit()">
 <input type="file" (change)="onFileChange($event)" />
 <input type="submit" [disabled]="formGroup.invalid" value="Upload" />
</form>
 -->
 <div class="row">
  <div class="col-8">
    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event)" />
    </label>
  </div>

  <div class="col-4">
    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
      Upload
    </button>
  </div>
</div>

<!-- <div *ngIf="currentFile" class="progress my-3">
  <div
    class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>
</div>

<div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div> -->

<div class="card mt-3">
  <div class="card-header">List of Files</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of fileInfos | async"
  >
    <li class="list-group-item"> {{file.filename}} ({{file.aliases}})</li>
   <!--  <button class="btn btn-default btn-sm" (click)="download(file.filename)">Download</button> -->
  </ul>


<!-- <div class="container mt-5">
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <div class="card-body text-center">
                  <span class="title">List of Files</span> -->
                  <!-- <button class="btn btn-success float-end" routerLink="/create-role">New Role</button> -->
                  <!-- <table *ngIf="fileInfos.length > 0" class="table table-striped mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Filename</th>
                        <th scope="col">Owner</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let file of fileInfos">
                        <td>{{ file.filename }}</td>
                        <td>{{ file.aliases }}</td>

                        <td> -->
<!--                           <i [routerLink]="['/edit-user', user.name]" class="fa-solid fa-pen-to-square text-primary"></i>
                            <i (click)="disableUser(user.name)" class="fa-solid fa-eye-slash text-danger"></i>
                            <i (click)="deleteUser(user.name)" class="fa-solid fa-trash text-danger"></i>
                            <i [routerLink]="['/message-list-receiver', user._id]" class="fa-solid fa-message text-primary"></i> -->
                       <!--  </td>
                      </tr>
                    </tbody>
                  </table>
                  <h5 style="text-align: start; margin-top: 10px;" *ngIf="fileInfos.length === 0">There are no roles yet</h5>
              </div>
          </div>
      </div>
  </div>
</div> -->


